.card2{
    background-color: lightskyblue;
    background: url('images/reg.png');
    background-repeat: no-repeat;
    margin-left: -30px;
    background-position: right;
    padding-top: 10px;
    background-size: 750px 600px;
    opacity: 90%;
    margin-top: 115px;
   

}
.signup{
    margin-left: 20px;
    color: rgb(34, 125, 230);
    font-size: 40px;
    margin-bottom: 20px;
    
}
.create{
    color: rgb(34, 125, 230);
    font-size: 45px;
    margin-bottom: 50px;
    
}
.card{
    margin-left: -30px;
    
}
.card2 form{
    height: 500px;
    width: 600px;
    
    
}
.card2 form::after{
    width: 10px;
    height: 400px;
    background-color: black;
}
.card2 span{
    color: rgb(30, 1, 68);
}

img{
    height: 200px;
    width: 300px;
    z-index: 6;
}
.card2 .btn{
    font-weight: bold;
    font-size: 1.2rem;
}